{block content}
    <div class="card-header">
        example
    </div>
    <div class="card-body">
        {control hiddenElementRecaptchaForm}
    </div>
{/block}

{define scripts}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{/define}
