{block content}
	<div class="card-header">
		example
	</div>
	<div class="card-body">
		{control liveValidateExampleForm}
	</div>
{/block}

{define scripts}
	<script src="https://cdn.jsdelivr.net/gh/contributte/live-form-validation@v1.9.0/live-form-validation.js"></script>
{/define}
